{% extends 'base.html' %}
{% block title %}{{ SITENAME }} | {{ page.title|title }}{% endblock %}
{% block section_title %}{{ page.title }}{% endblock %}
{% block content %}        

{% block calendar %}
<link rel="stylesheet" type="text/css" 
    href="{{ SITEURL }}/theme/css/caleandar.css" />
<script src="{{ SITEURL }}/theme/js/caleandar.js"></script>
{% endblock %}

{% block script %}
<script>
var events = [
    {% if page.calendar %}
    {% for e in events[page.slug] %}
    {'Date': new Date('{{ e.dtstart }}'.slice(0, 4),
        '{{ e.dtstart }}'.slice(5, 7) - 1, '{{ e.dtstart }}'.slice(8, 10)),
        'Title': '{{ e.summary }}', 
        'Link': '{{ e.url }}'},
    {% endfor %}
    {% endif %}
];

var settings = {
    Color: '#000',
    LinkColor: '#000',
    NavShow: true,
    NavVertical: false,
    NavLocation: '',
    DateTimeShow: true,
    DateTimeFormat: 'mmm, yyyy',
    DatetimeLocation: '',
    EventClick: '',
    EventTargetWholeDay: false,
    DisabledDays: [],
    ModelChange: ''
};

var element = document.getElementById('caleandar');
caleandar(element, events, settings);
</script>
{% endblock %}

<article>
    {{ page.content }}

    {% if page.calendar %}
    <div id="caleandar"></div>
    {% endif %}
</article>
{% endblock %}
